<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="/bower_components/lodash/lodash.js"></script>
      <script type="text/javascript" src="/bower_components/backbone/backbone-min.js"></script>
      <script type="text/javascript" src="/bower_components/d3/d3.min.js"></script>

      <link rel="stylesheet" href="/bower_components/pure/pure-min.css"/>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="pure-button">Welcome to <%= title %></p>
  </body>
</html>
